<header class="navbar">

  <a routerLink="/" class="brand">
    <div class="brand-icon">
      🎓
    </div>

    <div>
      <span class="brand-title">Student</span>
      <span class="brand-subtitle">Course Portal</span>
    </div>
  </a>

  <nav class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <span>⌂</span>
      Home
    </a>

    <a
      routerLink="/courses"
      routerLinkActive="active">
      <span>▦</span>
      Courses
    </a>

    <a
      routerLink="/enroll"
      routerLinkActive="active">
      <span>＋</span>
      Enroll
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active">
      <span>◉</span>
      Profile
    </a>

  </nav>

</header>